<!DOCTYPE html>
<html ng-app="dj">
<head>
    <title></title>
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <!--<script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <script type="application/javascript" src="js/frntScript.js"></script>
</head>
<body>
<header class="page-header text-center">
    <h1>YoutTube DJ
        <small>A collaborative video queue</small>
    </h1>
</header>
<div class="container">
    <div ng-controller="VideoController as videoCtrl">
        <div class="row">
            <div ng-show="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
            <form name="videoForm" ng-submit="videoCtrl.search()" novalidate>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="search.text" name="searchText" id="searchText"
                           placeholder="Search on You Tube"
                           ng-model="asyncSelected"
                           typeahead="queries for queries in getAutocompletion($viewValue)"
                           typeahead-loading="loadingAutocompletion"
                           required autofocus/>
                    <i ng-show="loadingAutocompletion" class="glyphicon glyphicon-refresh"></i>
                </div>
                <button ng-hide="results.length" class="btn btn-default">Add</button>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3" ng-repeat="result in results">
                <div class="thumbnail">
                    <img ng-src="http://i.ytimg.com/vi/{{result.id.$t.split(':').reverse()[0]}}/mqdefault.jpg"/>

                    <h3>{{result.title.$t}}</h3>

                    <p>
                        <button class="btn btn-primary" ng-click="videoCtrl.addVideo(result)">Add</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="video in videos">{{video.title.$t}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
